<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Editar etiqueta
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <ion-label position="floating">Nombre de la etiqueta</ion-label>
    <ion-input name="name" [(ngModel)]="label.name" shape="round" clearInput
      placeholder="Ingrese un nombre para la etiqueta" required="true"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Color de la etiqueta</ion-label>
    <ion-input name="color" [(ngModel)]="label.color" shape="round" clearInput
      placeholder="Ingrese un color para la etiqueta" required="true"></ion-input>
  </ion-item>

  <ion-item>
    <input shape="round" [(colorPicker)]="label.color" [style.background]="label.color" cpOutputFormat="hex">
  </ion-item>

  <ion-button color="secondary" expand="block" shape="round" type="submit" fill="outline" (click)="update()">Editar</ion-button>
  <ion-button color="secondary" expand="block" shape="round" type="submit" fill="outline" (click)="cancel()">Cancelar</ion-button>

</ion-content>