<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button>
      </ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="logOut()">Salir</ion-button>
    </ion-buttons>
    <ion-title>
      Labels
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item *ngFor="let l of labels">
    <ion-label>
      <!-- <ion-badge slot="start" color="{{l.color}}">01</ion-badge> -->
      <h2>{{l.name}}</h2>
    </ion-label>
    <ion-button (click)="editLabel(l._id)" fill="outline" slot="end">Edit</ion-button>
  </ion-item>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon (click)="createLabel()" name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>