<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title>Projects</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-searchbar placeholder="Search projects" showCancelButton cancelButtonText="Cancel" (ionInput)="Search($event)" (ionCancel)="InitElements()"></ion-searchbar>

    <ion-item *ngFor="let project of projects">
        <ion-thumbnail slot="start">
          <img src="{{project.image}}">
        </ion-thumbnail>
        <ion-label>
          <h2>{{project.name}}</h2>
          <p>{{project.description}}</p>
        </ion-label>
        <ion-button fill="outline" slot="end">View</ion-button>
      </ion-item>

</ion-content>
