<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Editar equipo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <h2 style="text-align: center;">{{team.name}}</h2>

  <ion-item>
    <ion-label position="floating">Descripcion del equipo</ion-label>
    <ion-input name="description" [(ngModel)]="team.description" shape="round" clearInput
      placeholder="Ingrese una Descripcion para el equipo" required="true"></ion-input>
  </ion-item>

  <ion-button color="secondary" expand="block" shape="round" type="submit" fill="outline" (click)="update()">Editar
  </ion-button>
  <ion-button color="secondary" expand="block" shape="round" type="submit" fill="outline" (click)="cancel()">Cancelar
  </ion-button>

</ion-content>