<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-button (click)="cerrar()" >Cerrar</ion-button>
      </ion-buttons>
      <ion-title>Teams</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-searchbar placeholder="Search teams" showCancelButton cancelButtonText="Cancel"></ion-searchbar>

    <ion-item>
        <ion-thumbnail slot="start">
          <img src="https://cdn-az.allevents.in/banners/962bbd5e004f25823c2c880a63f603ab">
        </ion-thumbnail>
        <ion-label>
          <h2>Expo Kinal | Ionic</h2>
          <p>Mobile App Team</p>
        </ion-label>
        <ion-button fill="outline" slot="end">View</ion-button>
      </ion-item>


      <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button color="success">
          <ion-icon (click)="createTeam()" name="add"></ion-icon>
        </ion-fab-button>
      </ion-fab>


        

        <ion-card-content>
            
            <br/>
      
            
        
             
       
             
          
      
          </ion-card-content>
        

</ion-content>
