<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Crear Team
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="centrado">
  <ion-card>
  <ion-item >
    <ion-label position="floating">Nombre de la etiqueta</ion-label>
    <ion-input name="name" [(ngModel)]="modelTeam.name" shape="round" clearInput
      placeholder="Ingrese un nombre para su team" required="true"></ion-input>
  </ion-item>
  

  <ion-button  color="success" expand="block"  type="submit" (click)="create()">Crear</ion-button>
  <ion-button color="success" expand="block"  type="submit" (click)="cancel()">Cancelar</ion-button>
</ion-card>
</ion-content>